/* Start The Carousel */
.carousel-section {
    background: url(../img/slider.jpg) no-repeat center / cover;
}

.carousel-section > .carousel {
    background-color: #077aa261;
    height: 540px;
}

.carousel-section .carousel-inner {
    height: 100%;
}

.carousel-section .carousel-item {
    font-size: 200%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    padding-inline: 13%;
}

@media (max-width: 425px){
    .carousel-section .carousel-item {
        font-size: 125%;
    }
}

.carousel-section .carousel-item > a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: white;
    background: var(--primary-color-2);
    padding: 10px;
    display: inline-block;
}

.carousel-section .carousel-item > a:hover {
    color: #292929;
}

.carousel-section .carousel-indicators  {
    z-index: 0;
}

.carousel-section .carousel-control-prev-icon,
.carousel-section .carousel-control-next-icon {
    background-color: var(--primary-color-2);
}

.carousel-section .carousel-indicators [data-bs-target] {
    background-color: white;
}

.carousel-section .carousel-control-prev-icon {
    background-image: url(../img/carousel-chevron-left-large.svg);
}

.carousel-section .carousel-control-next-icon {
    background-image: url(../img/carousel-chevron-right-large.svg);
}

.carousel-section .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 700px){
    .carousel-section .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 2rem !important;
        height: 2rem !important;
    }
}

.carousel-section .active.carousel-item-start, .carousel-item-prev:not(.carousel-item-end) {
    transform: translate(-100%, -50%);
}

.carousel-section .active.carousel-item-end, .carousel-item-next:not(.carousel-item-start) {
    transform: translate(100%, -50%);
}
/* End The Carousel */


/* Start The User Spaces Section */
.user-spaces-section {
    min-height: 360px;
    background-color: var(--secondary-color-2);
    padding-block: 20px;
}

.user-spaces-section ul {
    margin: 0;
}

.user-spaces-section li {
    background-color: var(--primary-color-1);
    color: var(--secondary-color-2);
    height: 240px;
    position: relative;
    text-align: center;
    border: 1px solid var(--secondary-color-2);
}

.user-spaces-section li > .item {
    width: 50%;
}

.user-spaces-section li > .item i {
    font-size: 65px;
}

.user-spaces-section li .more {
    background-color: var(--primary-color-1);
    width: 38px;
    height: 38px;
    line-height: 34px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    border: 2px solid var(--secondary-color-2);
    z-index: 1;
    color: inherit;
}

.user-spaces-section li:first-child,
.user-spaces-section li:last-child,
.user-spaces-section li:first-child .more,
.user-spaces-section li:last-child .more  {
    background-color: var(--primary-color-2);
}
/* End The User Spaces Section */


/* Start The About Section */
.about-section {
    background-color: #e0ded9;
    color: black;
}

.about-section h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.about-section p {
    font-size: 18px;
    text-align: justify;
}

.about-section .col {
    margin: auto;
}

.about-section .thumbnail_container {
    border: 2px solid var(--secondary-color-3);
}
/* End The About Section */

/* Start The Chiffre Section */
.chiffre-section {
    background: url(../img/slider.jpg) no-repeat center / cover;
    color: var(--secondary-color-2);
}

.chiffre-section .container-fluid {
    text-align: center;
    background-color: #077aa282;
}

.chiffre-section p {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 50px;
}

.chiffre-section .container-fluid ul {
    margin: 0;
}

@media (max-width: 992px){
    .chiffre-section li {
        padding-block: 20px;
    }
}

.chiffre-section .item > i {
    font-size: 40px
}

.chiffre-section .counter {
    font-size: 45px;
}

.chiffre-section .title {
    font-size: 20px;
    font-weight: 500;
}
/* End The Chiffre Section */


/* Start The Posts Excerpt Section */
.post-excerpt h2  {
    background-color: var(--primary-color-2);
    color: var(--secondary-color-2);
    text-align: center;
    width: 100%;
    display: block;
    padding: 15px;
    margin-bottom: 40px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.post-excerpt .main-post {
    background-color: white;
    box-shadow: 2px 2px 11px 0 #05557199;
}

.post-excerpt .col-md-12:not(:last-child) .main-post {
    margin-bottom: 24px;
}

.post-excerpt .col-md-4:not(:nth-last-child(-n+3)) .main-post {
    margin-bottom: 24px;
}

@media (max-width: 768px){
    .post-excerpt .col-md-4:not(:last-child) .main-post {
        margin-bottom: 24px;
    }
}

.post-excerpt .main-post a {
    text-decoration: none;
    color: var(--secondary-color-3);
}

.post-excerpt .main-post:hover > .post-link {
    color: var(--primary-color-2);
}

.post-excerpt .main-post .post-img {
    height: 198px;
    border-bottom: 1px solid var(--secondary-color-3);
}

.post-excerpt .main-post .post-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.post-excerpt .main-post:hover .post-img {
    background-color: #000;
}

.post-excerpt .main-post:hover .post-img img  {
    opacity: 0.80;
}

.post-excerpt .main-post .post-content {
    padding: 20px;
    position: relative;
}

.emploi .main-post .post-content {
    padding: 5px;
}

.post-excerpt .main-post .post-title {
    margin: 0 0 10px;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    min-height: 46px;
    text-align: center;
    color: #777;
}

.post-excerpt .main-post:hover .post-title {
    color: var(--primary-color-1);
}

.post-excerpt .main-post .post-excerpt {
    line-height: 1.7;
    text-transform: lowercase;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    min-height: 54.375px;
}

.post-excerpt .main-post .read-post {
    position: absolute;
    top: 0;
    left: 75%;
    transform: translate(0, -50%);
    background: var(--primary-color-1);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 14px 0 var(--primary-color-1);
    text-decoration: none;
}

.post-excerpt .main-post .read-post:hover {
    background: var(--secondary-color-2);
}

.post-excerpt .main-post i {
    margin-inline: 5px;
}

.post-excerpt .main-post .post-metadata {
    text-align: center;
}

.post-excerpt .main-post .post-date{
    font-size: 14px;
}

.post-excerpt .read-more {
    position: relative;
    margin-top: 0px;
}

.post-excerpt .read-more > span{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color-2);
    z-index: 1;
    padding-inline: 12px;
    border: 1px solid var(--secondary-color-3);
    border-radius: 5px;
    text-align: center;
}

.post-excerpt .read-more a {
    text-decoration: none;
    color: var(--primary-color-1);
}

.post-excerpt .not-yet {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
}
/* End The Post Excerpt Section */
.emploi .main-post .post-title {
    min-height: 0;
    letter-spacing: 0px;
    font-size: 17px;
    margin-block: 10px;
    display: block;
}

.emploi {
    text-align: center;
}

.emploi .col-md-12 {
    width: 90%;
}