/* Start The Carousel */
.carousel-section {
    background: url(../img/slider.jpg) no-repeat center / cover;
}

.carousel-section > .carousel {
    background-color: #077aa261;
    height: 540px;
}

.carousel-section .carousel-inner {
    height: 100%;
}

.carousel-section .carousel-item {
    /* position: absolute; */
    top: 50%;
    transform: translate(0, -50%);
    padding-inline: 13%;
    font-size: 200%;
    text-align: center;
}

@media (max-width: 1024px){
    .carousel-section > .carousel {
        height: 450px;
    }
    .carousel-section .carousel-item {
        font-size: 180%;
    }
}

@media (max-width: 768px){
    .carousel-section > .carousel {
        height: 360px;
    }
    .carousel-section .carousel-item {
        font-size: 130%;
    }
}

@media (max-width: 500px){
    .carousel-section > .carousel {
        height: 320px;
    }
}

@media (max-width: 425px){
    .carousel-section > .carousel {
        height: 310px;
    }
    .carousel-section .carousel-item {
        font-size: 100%;
        padding-inline: 20%;
    }
}

.carousel-section .wp-block-file:not(.wp-element-button) {
    font-size: unset;
}

.carousel-section .carousel-item  a {
    display: inline-block;
    padding: 10px;
    background: var(--primary-color-2);
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.carousel-section .carousel-item  a:hover {
    color: #292929;
}

.carousel-section .carousel-indicators  {
    z-index: 0;
}

.carousel-section .carousel-control-prev-icon,
.carousel-section .carousel-control-next-icon {
    background-color: var(--primary-color-2);
    width: 3rem;
    height: 3rem;
}

.carousel-section .carousel-indicators [data-bs-target] {
    background-color: white;
}

.carousel-section .carousel-control-prev-icon {
    background-image: url(../img/carousel-chevron-left-large.svg);
}

.carousel-section .carousel-control-next-icon {
    background-image: url(../img/carousel-chevron-right-large.svg);
}

@media (max-width: 700px){
    .carousel-section .carousel-control-next-icon,
    .carousel-section .carousel-control-prev-icon {
        width: 2rem !important;
        height: 2rem !important;
    }
}

.carousel-section .active.carousel-item-start,
.carousel-section .carousel-item-prev:not(.carousel-item-end) {
    transform: translate(-100%, -50%);
}

.carousel-section .active.carousel-item-end,
.carousel-section .carousel-item-next:not(.carousel-item-start) {
    transform: translate(100%, -50%);
}
/* End The Carousel */


/* Start The User Spaces Section */
.user-spaces-section {
    padding-block: 20px;
    background-color: var(--secondary-color-2);
    min-height: 360px;
}

.user-spaces-section ul {
    margin: 0;
}

.user-spaces-section li {
    position: relative;
    height: 240px;
    border: 1px solid var(--secondary-color-2);
    background-color: var(--primary-color-1);
    color: var(--secondary-color-2);
    text-align: center;
}

.user-spaces-section li > .item {
    width: 50%;
}

.user-spaces-section li > .item i {
    font-size: 65px;
}

.user-spaces-section li .more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color-2);
    background-color: var(--primary-color-1);
    color: inherit;
    line-height: 34px;
}

.user-spaces-section li:first-child,
.user-spaces-section li:last-child,
.user-spaces-section li:first-child .more,
.user-spaces-section li:last-child .more  {
    background-color: var(--primary-color-2);
}
/* End The User Spaces Section */


/* Start The About Section */
.about-section {
    background-color: #e0ded9;
    color: black;
}

.about-section h2 {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
}

.about-section p {
    font-size: 18px;
    text-align: justify;
}

.about-section .col {
    margin: auto;
}

.about-section .thumbnail_container {
    border: 2px solid var(--secondary-color-3);
}
/* End The About Section */

/* Start The Chiffre Section */
.chiffre-section {
    background: url(../img/slider.jpg) no-repeat center / cover;
    color: var(--secondary-color-2);
}

.chiffre-section .container-fluid {
    text-align: center;
    background-color: #077aa282;
}

.chiffre-section p {
    padding-bottom: 50px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
}

.chiffre-section .container-fluid ul {
    margin: 0;
}

@media (max-width: 992px){
    .chiffre-section li {
        padding-block: 20px;
    }
}

.chiffre-section .item > i {
    font-size: 40px
}

.chiffre-section .counter {
    font-size: 45px;
}

.chiffre-section div.title {
    font-size: 20px;
    font-weight: 500;
}
/* End The Chiffre Section */


/* The Posts Excerpt Section Is In The pages.css*/