/* Start The Carousel */
.carousel-section .carousel-item img {
    width: 100%;
    height: auto;
    height: 550px;
    object-fit: cover;
}

.carousel-section .carousel-item {
    font-size: 200%;
    text-align: center;
}

.carousel-section .wp-block-file:not(.wp-element-button) {
    font-size: unset;
}

.carousel-section .carousel-item  a {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: inline-block;
    padding-inline: 120px;
    background: rgba(0, 0, 0, 0.66);
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    height: 100%;
    width: 101%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-section .carousel-control-prev-icon,
.carousel-section .carousel-control-next-icon {
    background-color: var(--primary-color-2);
    width: 3rem;
    height: 3rem;
}

.carousel-section .carousel-indicators [data-bs-target] {
    background-color: white;
}

.carousel-section .carousel-indicators {
    z-index: 1;
}

.carousel-section .carousel-control-prev-icon {
    background-image: url(../img/carousel-chevron-left-large.svg);
}

.carousel-section .carousel-control-next-icon {
    background-image: url(../img/carousel-chevron-right-large.svg);
}

@media (max-width: 1600px){
    .carousel-section .carousel-item  a {
        padding-inline: 160px;
    }
}

@media (max-width: 1024px){
    .carousel-section .carousel-item img {
        height: 400px;
    }
    .carousel-section .carousel-item {
        font-size: 180%;
    }
    .carousel-section .carousel-item  a {
        padding-inline: 120px;
    }
}

@media (max-width: 768px){
    .carousel-section .carousel-item img {
        height: 330px;
    }
    .carousel-section .carousel-item {
        font-size: 130%;
    }
    .carousel-section .carousel-item  a {
        padding-inline: 90px;
    }
}

@media (max-width: 425px){
    .carousel-section .carousel-item img {
        height: 280px;
    }
    .carousel-section .carousel-item  a {
        padding-inline: 50px;
    }
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
}

@media (max-width: 375px){
    .carousel-section .carousel-item {
        font-size: 90%;
    }
}

@media (max-width: 700px){
    .carousel-section .carousel-control-next-icon,
    .carousel-section .carousel-control-prev-icon {
        width: 2rem !important;
        height: 2rem !important;
    }
}
/* End The Carousel */


/* Start The User Spaces Section */
.user-spaces-section {
    padding-block: 20px;
    background-color: var(--secondary-color-2);
    min-height: 360px;
}

.user-spaces-section .container {
    padding-inline: 30px;
}

.user-spaces-section ul {
    margin: 0;
}

.user-spaces-section li {
    position: relative;
    height: 240px;
    border: 1px solid var(--secondary-color-2);
    background-color: var(--primary-color-1);
    color: var(--secondary-color-2);
    text-align: center;
}

.user-spaces-section li > .item {
    width: 50%;
}

.user-spaces-section li > .item i {
    font-size: 65px;
}

.user-spaces-section li .more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color-2);
    background-color: var(--primary-color-1);
    color: inherit;
    line-height: 34px;
}

.user-spaces-section li:first-child,
.user-spaces-section li:last-child,
.user-spaces-section li:first-child .more,
.user-spaces-section li:last-child .more  {
    background-color: var(--primary-color-2);
}
/* End The User Spaces Section */


/* Start The About Section */
.about-section {
    background-color: #e0ded9;
    color: black;
}

.about-section h2 {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: bold;
}

.about-section p {
    font-size: 18px;
    text-align: justify;
}

.about-section .col {
    margin: auto;
}

.about-section .thumbnail_container {
    border: 2px solid var(--secondary-color-3);
}
/* End The About Section */

/* Start The Chiffre Section */
.chiffre-section {
    background: url(../img/slider.jpg) no-repeat center / cover;
    color: var(--secondary-color-2);
}

.chiffre-section .container-fluid {
    text-align: center;
    background-color: #077aa282;
}

.chiffre-section p {
    padding-bottom: 50px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
}

.chiffre-section .container-fluid ul {
    margin: 0;
}

@media (max-width: 992px){
    .chiffre-section li {
        padding-block: 20px;
    }
}

.chiffre-section .item > i {
    font-size: 40px
}

.chiffre-section .counter {
    font-size: 45px;
}

.chiffre-section div.title {
    font-size: 20px;
    font-weight: 500;
}
/* End The Chiffre Section */


/* The Posts Excerpt Section Is In The pages.css*/