.departement .wp-block-group > .wp-block-group {
    padding-bottom: 40px;
    width: 235px;
}

.custom-post-container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.custom-post-container a {
    color: #777;
    text-decoration: none;
}

.custom-post-container a:hover {
    color: var(--primary-color-1);
}

.custom-post-container .wp-block-file {
    background-color: #e0ded9;
    padding: 15px 20px;
    margin-bottom: 8px;
    /* width: 90%; */
    /* box-shadow: 2px 2px 11px 0 var(--primary-color-1); */
}

