.post .post-content.custom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post .post-content.custom .wp-block-file {
    width: 80%;
}

.post-content.custom a {
    color: #777;
    text-decoration: none;
}

.post-content.custom a:hover {
    color: var(--primary-color-1);
}

.post-content.custom .wp-block-file {
    background-color: #e0ded9;
    margin-bottom: 8px;
}

.post-content.custom .wp-block-file a {
    display: block;
    padding: 15px 20px;
}

.departement .wp-block-group > .wp-block-group {
    padding-bottom: 40px;
    width: 235px;
}